$white: #FFF;
$breadCrumbsMainColor:#3F44D4;
$breadCrumbsSecondaryColor:#1d2433cc;
$error: #C62222;

$neutral-black: #23272F;
$jet-black: #000000;
$onyx-black: #353535;
$charcoal-black: #464646;
$ebony-black: #0C0C0C;
$midnight-black: #1E1E1E;
$coal-black: #2B2B2B;
$obsidian-black: #000A12;
$licorice-black: #1A1A1A;
$ink-black: #1C1C1C;


/* Shades of Black */
$neutral-black: #23272F;
$jet-black: #000000;
$onyx-black: #353535;
$charcoal-black: #464646;
$ebony-black: #0C0C0C;
$midnight-black: #1E1E1E;
$coal-black: #2B2B2B;
$obsidian-black: #000A12;
$licorice-black: #1A1A1A;
$ink-black: #1C1C1C;

/* Shades of Gray */
$gray: #808080;
$light-gray: #D3D3D3;
$dark-gray: #A9A9A9;
$dim-gray: #696969;
$slate-gray: #708090;
$ash-gray: #B0B0B0;
$steel-gray: #4682B4;
$smoke-gray: #848484;
$cool-gray: #B8B8B8;
$warm-gray: #808069;

/* Shades of White */
$white: #FFFFFF;
$ivory-white: #FFFFF0;
$snow-white: #FFFAFA;
$floral-white: #FFFAF0;
$ghost-white: #F8F8FF;
$linen-white: #FAF0E6;
$alice-white: #F0F8FF;
$antique-white: #FAEBD7;
$azure-white: #F0FFFF;
$seashell-white: #FFF5EE;

/* Shades of Red */
$red: #FF0000;
$dark-red: #8B0000;
$firebrick-red: #B22222;
$indian-red: #CD5C5C;
$crimson-red: #DC143C;
$light-coral: #F08080;
$salmon-red: #FA8072;
$dark-salmon: #E9967A;
$light-salmon: #FFA07A;
$coral-red: #FF4500;

/* Shades of Green */
$green: #008000;
$dark-green: #006400;
$forest-green: #228B22;
$lime-green: #00FF00;
$lime: #00FF00;
$lime-web: #32CD32;
$chartreuse-green: #7FFF00;
$chartreuse-web: #7FFF00;
$yellow-green: #9ACD32;
$olive-green: #808000;

/* Shades of Blue */
$blue: #0000FF;
$dark-blue: #00008B;
$medium-blue: #0000CD;
$navy-blue: #000080;
$royal-blue: #4169E1;
$light-blue: #ADD8E6;
$pale-blue: #AFEEEE;
$sky-blue: #87CEEB;
$deep-sky-blue: #00BFFF;
$steel-blue: #4682B4;

/* Shades of Purple */
$purple: #800080;
$dark-purple: #483D8B;
$medium-purple: #9370DB;
$blue-violet: #8A2BE2;
$dark-magenta: #8B008B;
$dark-slate-blue: #483D8B;
$medium-slate-blue: #7B68EE;
$slate-blue: #6A5ACD;
$medium-orchid: #BA55D3;
$orchid: #DA70D6;

/* Shades of Yellow */
$yellow: #FFFF00;
$dark-yellow: #808000;
$light-yellow: #FFFFE0;
$pale-yellow: #FAFAD2;
$khaki-yellow: #F0E68C;
$gold: #FFD700;
$light-goldenrod: #FFEC8B;
$pale-goldenrod: #EEE8AA;
$dark-goldenrod: #B8860B;
$goldenrod: #DAA520;

/* Shades of Orange */
$orange: #FFA500;
$dark-orange: #FF8C00;
$light-orange: #FFDAB9;
$peach-orange: #FFDAB9;
$dark-salmon-orange: #E9967A;
$coral-orange: #FF7F50;
$tomato-orange: #FF6347;
$orange-red: #FF4500;
$dark-khaki-orange: #C0C000;
$gold-orange: #FFD700;

